﻿@{
    ViewData["Title"] = "使用者管理";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}

    <div>
        <h1>使用者管理</h1>
        <div id="validation-success"></div>
        <div id="example" style="display:none" class="demo-section k-content">
            <form id="createGrid" action="Insert" method="post"></form>
        </div>
        <div id="grid"></div>
    </div>

    <script>

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetMembers",
                    dataType: "json"
                },
                update: {
                    url: "Update",
                    dataType: "json"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { json: kendo.stringify(options.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: false, defaultValue: 0 },
                        Account: { validation: { required: true } },
                        UserName: { validation: { required: true } },
                        AccountTypeChinese: { validation: { required: true } },
                        LogisticsCompany: { validation: { required: true } },
                        ActiveFlag: { type: "boolean" },
                    }
                }
            }
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            sortable: true,
            filterable: true,
            pageable: true,
            height: 550,
            toolbar: [{ template: '<button id="export" class="k-button" onclick="createAdmin()">新增使用者</button> <button style="display:none;" id="cancel" class="k-button" onclick="hideBox()">取消</button>' }],
            columns: [
                { hidden: true, field: "Id", title: "序號", width: "100px" },
                { field: "Account", title: "使用者帳號" },
                { field: "UserName", title: "使用者姓名" },
                { field: "AccountTypeChinese", title: "使用者類別", editor: adminTypeDropDownEditor },
                { field: "LogisticsCompany", title: "所屬物流商", editor: logisticsDropDownEditor },
                { field: "ActiveFlag", title: "使用者狀態", template: "<label>#:ActiveFlag == true ? '啟用':'停用'#</label>" },
                {
                    command: [{ name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } }],
                    title: "", width: "150px"
                }],
            editable: { mode: "inline", confirmation: false }
        });

        function logisticsDropDownEditor(container, options) {
            $('<input name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    filter: "contains",
                    dataTextField: "company",
                    dataValueField: "company",
                    dataSource: {
                        type: "json",
                        transport: {
                            read: "/Logistics/GetActiveLogistics"
                        }
                    }
                });
        }

        function adminTypeDropDownEditor(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    filter: "contains",
                    dataTextField: "accountType",
                    dataValueField: "accountType",
                    dataSource: {
                        data: [{ "id": "1", "accountType": "管理者" },
                        { "id": "2", "accountType": "客戶" },
                        { "id": "3", "accountType": "司機" }]
                    }
                });
        }

        function hideBox() {
            $("#example").hide();
            $("#cancel").hide();
        }

        $(document).ready(function () {
            var validationSuccess = $("#validation-success");
            $("#createGrid").kendoForm({
                orientation: "vertical",
                formData: {
                    Account: "",
                    Password: "",
                    ConfilrmPassword: "",
                    CusomerCompanyName: "",
                    CustomerCompanyTaxId: "",
                    CustomerCompanyAddress: "",
                    UserName: "",
                    UserEmail: "",
                    AccountTypeChinese: "",
                    LogisticsCompany: "",
                },
                items: [
                    { field: "Account", label: "使用者帳號:", validation: { required: true } },
                    { field: "Password", label: "使用者密碼:", validation: { required: true } },
                    {
                        field: "ConfirmPassword", label: "確認密碼:", validation: {
                            required: true,
                            vaildConfirm: function (input) {
                                if (input.is("[name='ConfirmPassword']") && input.val() != "") {
                                    var confirm = input.val(),
                                        password = $("[name='Password']").val();
                                    input.attr("data-vaildConfirm-msg", "請確認密碼一致。");
                                    return confirm === password;
                                }
                                return true;
                            }
                        }
                    },
                    { field: "UserName", label: "使用者姓名:", validation: { required: true } },
                    { field: "UserEmail", label: "使用者Email:", validation: { required: true, email: true } },
                    {
                        field: "AccountTypeChinese", label: "使用者類別:", validation: { required: true }, editor: function (container, options) { adminTypeDropDownEditor(container, options); }
                    },
                    {
                        field: "CustomerCompanyName", label: "客戶公司名稱:", validation: {
                            Confirm1: function (input) {
                                if ($("[name='AccountTypeChinese']").val() == "客戶" && input.val() == "") {
                                    input.attr("data-Confirm1-msg", "使用者類別為客戶者必填。");
                                    return false;
                                }
                                return true;
                            }
                        }, hint: "提醒: 使用者類別為客戶者必填。"
                    },
                    {
                        field: "CustomerCompanyTaxId", label: "客戶統編:", validation: {
                            Confirm2: function (input) {
                                if ($("[name='AccountTypeChinese']").val() == "客戶" && input.is("[name='CustomerCompanyTaxId']") && input.val().length != 8) {
                                    input.attr("data-Confirm2-msg", "使用者類別為客戶者必填8碼統編。");
                                    return false;
                                }
                                return true;
                            }
                        }, hint: "提醒: 使用者類別為客戶者必填。"
                    },
                    {
                        field: "CustomerCompanyAddress", label: "客戶統編地址:", validation: {
                            Confirm3: function (input) {
                                if ($("[name='AccountTypeChinese']").val() == "客戶" && input.val() == "") {
                                    input.attr("data-Confirm3-msg", "使用者類別為客戶者必填。");
                                    return false;
                                }
                                return true;
                            }
                        }, hint: "提醒: 使用者類別為客戶者必填。"
                    },
                    {
                        field: "LogisticsCompany", label: "所屬物流商:", editor: function (container, options) { logisticsDropDownEditor(container, options); }, validation: {
                            Confirm4: function (input) {
                                var type = $("[name='AccountTypeChinese']").val();
                                if ((type == "客戶" || type == "司機") && input.val() == "") {
                                    input.attr("data-Confirm4-msg", "使用者類別為客戶或司機者必填。");
                                    return false;
                                }
                                return true;
                            }
                        }, hint: "提醒: 使用者類別為客戶或司機者必填。",
                    }
                ],
                validateField: function (e) {
                    validationSuccess.html("");
                },
                messages: {
                    submit: "儲存",
                    clear: "重設"
                },
                submit: function (e) {
                    validationSuccess.html("<div class='k-messagebox k-messagebox-success'>成功</div>");
                },
                clear: function (ev) {
                    validationSuccess.html("");
                }
            });

            if ("@Html.Raw(TempData["Error"])".length > 1) {
                validationSuccess.html("<div class='k-messagebox k-messagebox-warning'>@Html.Raw(TempData["Error"])</div>");
            }
        });

        function createAdmin() {
            $("#cancel").show();
            $("#example").show();
        }
    </script>
