﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}

<div id="example">
    <div class="demo-section k-content">
        <div id="validation-success"></div>

        <form id="exampleform"></form>
    </div>

    <script>
        $(document).ready(function () {
            var validationSuccess = $("#validation-success");

            $("#exampleform").kendoForm({
                orientation: "vertical",
                formData: {
                    Username: "johny",
                    Email: "john.doe@email.com",
                    Password: "pass123",
                    Birth: new Date(),
                    Agree: false
                },
                items: [{
                    type: "group",
                    label: "Registration Form",
                    items: [
                        { field: "Username", label: "Username:", validation: { required: true } },
                        { field: "Email", label: "Email:", validation: { required: true, email: true } },
                        {
                            field: "Password",
                            label: "Password:",
                            validation: { required: true },
                            hint: "Hint: enter alphanumeric characters only.",
                            editor: function(container, options) {
                                container.append($("<input type='password' class='k-textbox k-valid' id='Password' name='Password' title='Password' required='required' autocomplete='off' aria-labelledby='Password-form-label' data-bind='value:Password' aria-describedby='Password-form-hint'>"));
                            }
                        },
                        { field: "Birth", label: { text: "Date of birth:", optional: true } },
                        { field: "Agree", label: "Agree to Terms:", validation: { required: true } }
                    ]
                }],
                validateField: function(e) {
                    validationSuccess.html("");
                },
                submit: function(e) {
                    e.preventDefault();
                    validationSuccess.html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
                },
                clear: function(ev) {
                    validationSuccess.html("");
                }
            });
        });
    </script>
</div>