﻿@{ ViewData["Title"] = "客戶託運系統-首頁";
                Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml"; }


    <img id="logo" src="@Model.Url" alt="logo" width="500" height="300"/>
    <div class="demo-section k-content wide">
        <input id="deliveryNumber1" class="searchDelivery" style="width: 150%;" /><br />
        <input id="deliveryNumber2" class="searchDelivery" style="width: 150%;" /><br />
        <input id="deliveryNumber3" class="searchDelivery" style="width: 150%;" /><br />
        <input id="deliveryNumber4" class="searchDelivery" style="width: 150%;" /><br />
        <button id="search"></button>
        <div id="grid" />

    </div><br />
    <button id="login"></button>

    <script>
        $(document).ready(function () {
            $(".searchDelivery").kendoTextBox({
                placeholder: "請輸入託運單號",
                label: {
                    content: "託運單號",
                    floating: true
                }
            });

            $("#search").kendoButton({
                badge: {
                    text: "搜索",
                    shape: "rectangle",
                    size: "large"
                },
                click: function (e) {
                    SearchOrder();
                }
            });

            if ("@Model.IsLogin" !== "True") {
                $("#login").kendoButton({
                    badge: {
                        text: "企約客戶登入",
                        size: "large"
                    },
                    click: function (e) {
                        window.location.href = "Login"
                    }
                });
            }

            GetGrid();
        });

        function GetGrid() {
            $("#grid").kendoGrid({
                dataSource: [],
                height: 350,
                columns: [
                    { field: "deliveryNumber", title: "託運單號" },
                    { field: "orderNumber", title: "訂單編號" },
                    { field: "receiverName", title: "收件人" },
                    { field: "receiverCityArea", title: "收件地區" },
                    { field: "status", title: "狀態" }
                ]
            })
        }

        function SearchOrder() {
            let arr = [$("#deliveryNumber1").val(), $("#deliveryNumber2").val(), $("#deliveryNumber3").val(), $("#deliveryNumber4").val()];
            $.ajax({
                type: 'POST',
                url: 'GetSimpleOrderDetail',
                data: {
                    inputNumbers: arr
                },
                success: function (objs) {
                    objs.forEach(obj =>
                        $("#grid").data("kendoGrid").dataSource.insert(obj)
                    )

                    $("#deliveryNumber1").val("");
                    $("#deliveryNumber2").val("");
                    $("#deliveryNumber3").val("");
                    $("#deliveryNumber4").val("");
                },
                error: function () {
                    //Error message
                }
            });

        }

        $(".searchDelivery").keydown(function (e) {
            if (event.keyCode == 13) {
                SearchOrder(e)
            }
        })
    </script>
<style>
    img {
        display: block;
        margin: 0 auto;
    }
</style>
