﻿@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@inject IOptions<RecaptchaSettings> options
@{ ViewData["Title"] = "客戶託運系統-登入";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml"; }

<div id="example">
    <div class="demo-section k-content">
        <div id="validation-success"></div>

        <form id="form" action="../../Account/AfterLogin" method="post"></form>
    </div>
</div>

<script>
        $(document).ready(function () {
            var validationSuccess = $("#validation-success");

            $("#form").kendoForm({
                orientation: "vertical",
                formData: {
                    Username: "",
                    Password: "",
                    ReturnUrl: "@ViewBag.ReturnUrl",
                    CompanyCode: "@ViewBag.CompanyCode"
                },
                items: [{
                    type: "group",
                    label: "會員登入",
                    items: [
                        { field: "Account", label: "登入帳號:", validation: { required: true } },
                        {
                            field: "Password",
                            label: "密碼:",
                            validation: { required: true },
                            editor: function (container, options) {
                                container.append($("<input type='password' class='k-textbox k-valid' id='Password' name='Password' title='Password' required='required' autocomplete='off' aria-labelledby='Password-form-label' data-bind='value:Password' aria-describedby='Password-form-hint'>"));
                            }
                        },
                        {
                            field: "ReturnUrl",
                            label: "",
                            editor: function (container, options) {
                                container.append($("<input type='hidden' class='k-textbox k-valid' id='ReturnUrl' name='ReturnUrl' title='ReturnUrl' autocomplete='off' aria-labelledby='Password-form-label' data-bind='value:ReturnUrl' aria-describedby='Password-form-hint'>"));
                            }
                        },
                        {
                            field: "CompanyCode",
                            label: "",
                            editor: function (container, options) {
                                container.append($("<input type='hidden' class='k-textbox k-valid' id='CompanyCode' name='CompanyCode' title='CompanyCode' autocomplete='off' aria-labelledby='Password-form-label' data-bind='value:CompanyCode' aria-describedby='Password-form-hint'>"));
                            }
                        },
                        {
                            field: "GoogleToken", label: "", editor: function (container, options) {
                                container.append($("<input type='hidden' class='k-textbox k-valid' id='GoogleToken' name='GoogleToken' title='GoogleToken' autocomplete='off' aria-labelledby='Password-form-label' data-bind='value:GoogleToken' aria-describedby='Password-form-hint'>"));
                            }
                        }
                    ]
                }],
                validateField: function (e) {
                    validationSuccess.html("");
                },
                messages: {
                    submit: "登入",
                    clear: "清除"
                },
                submit: function (e) {

                },
                clear: function (ev) {
                    validationSuccess.html("");
                }
            });

            if ("@Html.Raw(TempData["Message"])".length > 1) {
                validationSuccess.html("<div class='k-messagebox k-messagebox-warning'>@Html.Raw(TempData["Message"])</div>");
            }
        });

</script>

@section Scripts
    {
    <script src="https://www.recaptcha.net/recaptcha/api.js?render=@options.Value.SiteKey"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@options.Value.SiteKey', { action: 'AfterLogin' }).then(function (token) {
                $("#GoogleToken").val(token);
            });
        });
    </script>
}



