﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LightYear.ColdChainDelivery.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="~/styles/kendo.common.min.css" rel="stylesheet">
    <link href="~/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/styles/kendo.default.min.css" rel="stylesheet">
    <link href="~/styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/content/shared/js/console.js"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
