﻿@{
    ViewData["Title"] = "上傳簽單";
}
<script src="/js/html5-qrcode.min.js"></script>
<div id="barcode"></div>
<div id="renewData" style="display:none">
    <input type="button" id="doShow" onclick="javascript:useScan();" value="使用掃描取得條碼號" />
    <div style="width: 330px" id="scaner"></div>
</div>
<audio src="/media/bibi.mp3" id="audio"></audio>
<form enctype="multipart/form-data" action="AfterClose" method="POST">
    <input type="file" id="qr-input-file" accept="image/*" capture>
</form>
<div id="reader"></div>
<script>
    const html5QrCode = new Html5Qrcode(/* element id */ "reader");

    // File based scanning
    const fileinput = document.getElementById('qr-input-file');
    fileinput.addEventListener('change', e => {
        if (e.target.files.length == 0) {
            // No file selected, ignore
            return;
        }

        // Use the first item in the list
        const imageFile = e.target.files[0];
        html5QrCode.scanFile(imageFile, /* showImage= */true)
            .then(qrCodeMessage => {
                // success, use qrCodeMessage
                console.log(qrCodeMessage);
                $("#barcode").html(qrCodeMessage);
                $("#renewData").hide();
            })
            .catch(err => {
                // failure, handle it.
                console.log(`Error scanning file. Reason: ${err}`)
                $("#barcode").html("barcode不清，請重新選用");
                $("#renewData").show();
            });
    });

    var html5QrcodeScanner = null;

    function useScan() {
        html5QrcodeScanner = new Html5QrcodeScanner(
            "scaner", { fps: 10, qrbox: 230 });
        html5QrcodeScanner.render(onScanSuccess, onScanError);
    }

    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);
        $("#barcode").html(decodedResult.decodedText);
        var audio = document.getElementById('audio');

        audio.play();
        html5QrcodeScanner.clear();
        /*
        setTimeout(function () {
            audio.play();  // play it through JavaScript after 3 seconds 
        }, 1000);*/
    }

    function onScanError(errorMessage) {
        // handle on error condition, with error message
    }
</script>
