﻿@{
    ViewData["Title"] = "刷件作業";
}
<script src="/js/html5-qrcode.min.js"></script>
<div id="barcode_result"></div>
<div style="width: 330px" id="reader"></div>
<audio src="/media/bibi.mp3" id="audio"></audio>

<script>
    /*
    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 250 });

    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);
        // ...
        $("#barcode_result").html(decodedResult.decodedText);

        html5QrcodeScanner.clear();
        // ^ this will stop the scanner (video feed) and clear the scan area.
    }

    html5QrcodeScanner.render(onScanSuccess);
    */

    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);
        $("#barcode_result").html(decodedResult.decodedText);
        var audio = document.getElementById('audio');

        audio.play();
        /*
        setTimeout(function () {
            audio.play();  // play it through JavaScript after 3 seconds 
        }, 1000);*/ 
    }

    function onScanError(errorMessage) {
        // handle on error condition, with error message
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 230 });
    html5QrcodeScanner.render(onScanSuccess, onScanError);
</script>