﻿@{ ViewData["Title"] = "託運單上傳";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml"; }
@using Newtonsoft.Json;

<div class="demo-section k-content">
    請選擇打單客戶：
    <input id="members" style="display: none" /><br/>

    請選擇要上傳的檔案：
    <div>
        <input type="file" name="files" id="files" />
        <button onclick="uploadFile()">上傳</button>
    </div>

    <br />
    <label>上傳結果：<label style="background-color: green; color: white" id="uploadResult"></label></label><br />
    <label style="background-color: red; color: yellow" id="uploadResultHint"></label><br />
    <div id="gridNotValidate"></div>
    <label>專案編號：<lable id="projectNo" /></label>
</div>
<div id="grid" />

<div style="text-align:center">
    <a class="k-button" onclick="PrintPaper()">
        <span class="k-icon k-i-printer"></span>列印託運單
    </a>
</div>

<script>
    Date.prototype.yyyymmdd = function () {
        var mm = this.getMonth() + 1;
        var dd = this.getDate();

        return [this.getFullYear(),
        (mm > 9 ? '' : '0') + mm,
        (dd > 9 ? '' : '0') + dd
        ].join('');
    };

    var date = new Date();
    date.yyyymmdd();

    var viewModel = [];
    let memberInfos = [];

    var cityAreas = new kendo.data.DataSource({
        transport: {
            read: {
                url: "GetCityArea",
                dataType: "json",
                complete: function() {
                    GetGrid();
                    GetGridNotValidate();
                    $("#uploadResult").html("&nbsp;&nbsp;&nbsp;完成&nbsp;&nbsp;&nbsp;")
                    $("#uploadResultHint").text("請確認表格內錯誤訊息")
                }
            }
        }
    })

        function uploadFile() {
            let formData = new FormData();
            formData.append("File", $("#files").prop('files')[0]);
            if (memberInfos.length > 0) {
                formData.append("MemberId", $("#members").data("kendoDropDownList").value())
            }
            $.ajax({
                type: "POST",
                url: "BatchSaveDeliveryRequests",
                data: formData,
                processData: false,
                contentType: false,
                mimeType: 'multipart/form-data',
                success: function (data) {
                    resultObj = JSON.parse(data);
                    console.log(resultObj)
                    if (resultObj.ExcelErrMsg) {
                        $("#uploadResultHint").html("&nbsp;&nbsp;&nbsp;Excel格式錯誤，請確認是否為最新批次託運單&nbsp;&nbsp;&nbsp;");
                        return ;
                    }
                    arr = resultObj.BatchRequests.filter(function (item) { return item.DeliveryRequestEntity.Id != 0 }).map(d => d.DeliveryRequestEntity);
                    arrNotValidate = resultObj.BatchRequests.filter(function (item) { return item.DeliveryRequestEntity.Id == 0 });
                    if (arr.length > 0) {
                        $("#projectNo").text(arr[0].ProjectNo);
                    }
                    cityAreas.read();
                }
            })
        }

    function PrintPaper() {
        console.log('print', viewModel.selected)
        $.ajax({
            url: "PrintPaper",
            type: "POST",
            data: { ids: viewModel.selected.map(i=>i) }
        })
    }

        function cityAreaAddress(cityAreaId, address) {
        for (var i = 0; i < cityAreas._pristineData.length; i++) {
            for (var j = 0; j < cityAreas._pristineData[i].areaEntities.length; j++) {
                if (cityAreas._pristineData[i].areaEntities[j].id == cityAreaId) {
                    return cityAreas._pristineData[i].city + cityAreas._pristineData[i].areaEntities[j].area + address
                }
            }
        }
    }

    function findAreaIdInCityIndex(areaId) {        //從area_id找city_index
        for (var i = 0; i < cityAreas._pristineData.length; i++) {
            if (cityAreas._pristineData[i].areaEntities.filter(x => x.id === areaId).length > 0) {
                return i;
            }
        }
    }

    function findAreaIdInAreaIndex(areaId) {
        let cityId = findAreaIdInCityIndex(areaId);
        for (var i = 0; i < cityAreas._pristineData[cityId].areaEntities.length; i++) {
            if (cityAreas._pristineData[cityId].areaEntities[i].id === areaId) {
                return i;
            }
        }
    }

    function GetGrid() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: function (options) {
                            options.success(arr);
                        },
                        update: function (e) {
                            $.ajax({
                                type: 'POST',
                                url: 'UpdateDeliveryRequestWithSenderInfo',
                                data: {
                                    item: e.data
                                },
                                success: function (result) {
                                    let obj = JSON.parse(result);
                                    e.success(obj);
                                },
                                error: function () {
                                    alert('更新失敗');
                                }
                            });
                        },
                        destroy: function (e) {
                            $.ajax({
                                type: 'POST',
                                url: 'DeleteDeliveryRequest',
                                data: {
                                    item: e.data
                                },
                                success: function (result) {
                                    let obj = JSON.parse(result);
                                    e.success(obj);
                                },
                                error: function (result) {
                                    alert('停用失敗');
                                }
                            });
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read") {
                                return { model: kendo.stringify(options) }
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                IsOnRoad: { editable: false },
                                DeliveryNumber: { editable: false },
                                OrderNumber: { editable: false },
                                ProjectNo: { editable: false },
                                ReceiverFullAddress: { editable: false },
                                Status: { editable: false }
                            }
                        }
                    }
                },
                dataBound: function (e) {
                    if (viewModel.length === 0) {
                        viewModel = kendo.observable({
                            selected: [],
                            onRoad: []
                        });
                    }
                    kendo.bind($("input"), viewModel);
                    $("#grid").data("kendoGrid").dataSource.data().forEach(function (item, index, array) { if (item.IsOnRoad && viewModel.onRoad.every(i=>i !== index)) { viewModel.onRoad.push(index) } })
                },
                pageable: {
                    pageSize: 20
                },
                height: 350,
                editable: { mode: "inline", confirmation:false},
                columns: [
                    { title: " ", template: "<input type='checkbox' value=#:Id# data-bind='checked: selected' class='k-checkbox'/>" },
                    { field: "DeliveryNumber", title: "託運單號" },
                    { field: "OrderNumber", title: "訂單編號" },
                    { field: "ReceiverName", title: "收件人" },
                    {
                        field: "ReceiverCityAreaId", title: "收件地址", template: "#= cityAreaAddress(ReceiverCityAreaId, ReceiverAddress) #",
                        editor: function (container, options) {
                            var cities = $('<input id="city" name="ReceiverCityIndex">')
                            cities.appendTo(container);

                            var areas = $('<input id="area" name="ReceiverCityAreaId">')
                            areas.appendTo(container);

                            var address = $('<input id="address" name="ReceiverAddress">')
                            address.appendTo(container);

                            cities.kendoDropDownList({
                                dataTextField: "city",
                                dataValueField: "city_index",
                                dataSource: cityAreas,
                                change: function (e) {
                                    var area = cityAreas._pristineData.find(obj => {
                                        return obj.city_index === $("#city").data("kendoDropDownList").selectedIndex;
                                    });
                                    var ds = new kendo.data.DataSource({ data: area.areaEntities });
                                    var districtDDL = $("#area").data("kendoDropDownList");

                                    districtDDL.setDataSource(ds);
                                    $("#area").data("kendoDropDownList").select(0);
                                }
                            }).appendTo(container);

                            areas.kendoDropDownList({
                                dataTextField: "area",
                                dataValueField: "id"
                            }).appendTo(container);

                            $("#city").data("kendoDropDownList").select(options.model.ReceiverCityIndex);
                            $("#city").data("kendoDropDownList").options.change();
                        }
                    },
                    { field: "SenderName", title: "寄件人" },
                    {
                        field: "SenderCityAreaId", title: "寄件地址", template: "#= cityAreaAddress(SenderCityAreaId, SenderAddress) #",
                        editor: function (container, options) {
                            var cities = $('<input id="senderCity" name="SenderCityIndex">')
                            cities.appendTo(container);

                            var areas = $('<input id="senderArea" name="SenderCityAreaId">')
                            areas.appendTo(container);

                            var address = $('<input id="senderAddress" name="SenderAddress">')
                            address.appendTo(container);

                            cities.kendoDropDownList({
                                dataTextField: "city",
                                dataValueField: "city_index",
                                dataSource: cityAreas,
                                change: function (e) {
                                    var area = cityAreas._pristineData.find(obj => {
                                        return obj.city_index === $("#senderCity").data("kendoDropDownList").selectedIndex;
                                    });
                                    var ds = new kendo.data.DataSource({ data: area.areaEntities });
                                    var districtDDL = $("#senderArea").data("kendoDropDownList");

                                    districtDDL.setDataSource(ds);
                                    $("#senderArea").data("kendoDropDownList").select(0);
                                }
                            }).appendTo(container);

                            areas.kendoDropDownList({
                                dataTextField: "area",
                                dataValueField: "id"
                            }).appendTo(container);

                            $("#senderCity").data("kendoDropDownList").select(options.model.SenderCityIndex);
                            $("#senderCity").data("kendoDropDownList").options.change();
                        }
                    },
                    { field: "CollectionAmount", title: "代收款" },
                    { title: "動作", command: [{ text: "編輯", name: "edit", className: "k-grid-edit" }, {text:"停用", className: "k-grid-delete" }] }
                ],
                persistSelection: true
            })
        }

        function GetGridNotValidate() {
            $("#gridNotValidate").kendoGrid({
                dataSource: {
                    transport: {
                        read: function (options) {
                            options.success(arrNotValidate);
                        }
                    }
                },
                pageable: {
                    pageSize: 20
                },
                height: 350,
                columns: [
                    { field: "Row", title: "行數" },
                    { field: "ErrMsg", title: "錯誤訊息" }
                ]
            })
        }

        $(document).ready(function () {
            memberInfos = @Html.Raw(Model);
            if (memberInfos.length > 0) {
                 $("#members").kendoDropDownList({
                     dataTextField: "Name",
                     dataValueField: "Id",
                     dataSource: memberInfos
                 })
            }

            let arr = [];
            let arrNotValidate = [];
    });

</script>
<style>
    .k-grid-edit {
    }

    .k-grid-delete {
        color: red;
    }
</style>
