﻿@{ ViewData["Title"] = "新增託運單-完成";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml"; }

<div id="example">
    <div class="demo-section k-content">
        <div id="validation-success"></div>
        <label style="background-color:blue; color:yellow;">訂單已建立</label>

        <form id="form" action="DeliveryRequest" method="post"></form>
    </div>

    <script>
        $(document).ready(function () {
            $("#form").kendoForm({
                orientation: "vertical",
                formData: {
                    MemberName: "@Html.Raw(Model.MemberName)",
                    ProjectNo: "@Model.ProjectNo",
                    DeliveryNumber: "@Model.DeliveryNumber",
                    OrderNumber: "@Model.OrderNumber",
                    ReceiverName: "@Html.Raw(Model.ReceiverName)",
                    ReceiverTel1: "@Model.ReceiverTel1",
                    ReceiverTel2: "@Model.ReceiverTel2",
                    ReceiverFullAddress: "@Html.Raw(Model.ReceiverFullAddress)",
                    CollectionAmount: "@Model.CollectionAmount",
                    SenderName: "@Html.Raw(Model.SenderName)",
                    SenderFullAddress: "@Html.Raw(Model.SenderFullAddress)"
                },
                items: [
                    {
                        type: "group",
                        label: "客戶資訊：",
                        layout: "grid",
                        grid: { cols: 3, gutter: 1 },
                        items: [
                            { field: "MemberName", label: "客戶名稱:", colSpan: 3, attributes: { disabled:true, style:"border-width:0px"} },
                            { field: "ProjectNo", label: "專案編號:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } },
                            { field: "DeliveryNumber", label: "託運單號:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } },
                            { field: "OrderNumber", label: "訂單編號:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } }
                        ]
                    },
                    {
                        type: "group",
                        label: "收件人資訊：",
                        layout: "grid",
                        grid: { cols: 3, gutter: 1 },
                        items: [
                            { field: "ReceiverName", label: "收件人姓名:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } },
                            { field: "ReceiverTel1", label: "收件人電話1:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } },
                            { field: "ReceiverTel2", label: "收件人電話2:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } },
                            { field: "ReceiverFullAddress", label: "收件地址:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } },
                            { field: "CollectionAmount", label: "代收金額:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } }
                        ]
                    },
                    {
                    type: "group",
                    label: "寄件人資訊：",
                    layout: "grid",
                    grid: { cols: 3, gutter: 1 },
                    items: [
                        { field: "SenderName", label: "寄件人姓名:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } },
                        { field: "SenderFullAddress", label: "寄件地址:", colSpan: 3, attributes: { disabled: true, style: "border-width:0px" } }
                    ]
                }
                ],
                submit: function () {

                },
                messages: {
                    submit: "完成",
                }
            });
        });
    </script>
    <style>
        .k-form-clear {
            display: none !important;
        }
    </style>
</div>