﻿@{ ViewData["Title"] = "新增託運單";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml"; }

<div id="example">
    <div class="demo-section k-content">
        <div id="validation-success"></div>

        <form id="form" action="SaveDeliveryRequest" method="post"></form>
    </div>

    <script>

        let cityArea = [];

        $(document).ready(function () {
            var validationSuccess = $("#validation-success");

            $("#form").kendoForm({
                orientation: "vertical",
                formData: {
                    MemberId: @Model.MemberId,
                    MemberName: "@Html.Raw(Model.MemberName)",
                    ProjectNo: "@Model.ProjectNo",
                    DeliveryNumber: "@Model.DeliveryNumber",
                    OrderNumber: "@Model.OrderNumber",
                    ReceiverName: "@Html.Raw(Model.ReceiverName)",
                    ReceiverTel1: "@Model.ReceiverTel1",
                    ReceiverTel2: "@Model.ReceiverTel2",
                    ReceiverCityAreaId: @Model.ReceiverCityAreaId,
                    ReceiverAddress: "@Html.Raw(Model.ReceiverAddress)",
                    CollectionAmount: @Model.CollectionAmount,
                    SenderName: "@Html.Raw(Model.SenderName)",
                    SenderCityAreaId: @Model.SenderCityAreaId,
                    SenderAddress: "@Html.Raw(Model.SenderAddress)"
                },
                items: [
                    {
                        type: "group",
                        label: "客戶資訊：",
                        layout: "grid",
                        grid: { cols: 3, gutter: 8 },
                        items: [
                            {
                                field: "MemberId", editor: "DropDownList", label: "客戶名稱:", validation: { required: true },
                                editorOptions: {
                                    dataTextField: "name",
                                    dataValueField: "id",
                                    dataSource: {
                                        transport: {
                                            read: {
                                                url: "GetMembers",
                                                type: "json"
                                            }
                                        }
                                    },
                                    change: function (e) {
                                        if (e)
                                            $("#form").getKendoForm().options.formData.MemberId = $("#form").getKendoForm()._model.MemberName.id;
                                    },
                                    dataBound: function () {
                                        $("#MemberId").data("kendoDropDownList").select(findIndexByMemberId($("#form").getKendoForm().options.formData.MemberId));
                                        $("#MemberId").data("kendoDropDownList").options.change();
                                    }
                                },
                                colSpan: 3,
                                attributes: { style: 'background-color: LightGrey' }
                            },
                            { field: "ProjectNo", label: "專案編號:", validation: { required: true }, colSpan: 3, attributes: { style: 'background-color: LightGrey', disabled: true } },
                            { field: "DeliveryNumber", label: "託運單號:", validation: { required: true }, colSpan: 3, attributes: { style: 'background-color: LightGrey', disabled: true } },
                            { field: "OrderNumber", label: "訂單編號:", colSpan: 3 }
                        ]
                    },
                    {
                        type: "group",
                        label: "收件人資訊：",
                        layout: "grid",
                        grid: { cols: 3, gutter: 8 },
                        items: [
                            { field: "ReceiverName", label: "收件人姓名:", validation: { required: true }, colSpan: 3 },
                            {
                                field: "ReceiverTel1", label: "收件人電話1:",
                                validation: {
                                    required: true,
                                    receiverPhoneFormat: function (input) {
                                        if (input.is("[name='ReceiverTel1']") && input.val() != "") {
                                            let mobileReg = /09\d{8}/;
                                            let phoneReg = /0\d{8,9}#?\d*/;

                                            return input.val().match(mobileReg) || input.val().match(phoneReg);
                                        }

                                        return true;
                                    }
                                }, colSpan: 3
                            },
                            {
                                field: "ReceiverTel2", label: "收件人電話2:",
                                validation: {
                                    required: true,
                                    receiverPhoneFormat: function (input) {
                                        if (input.is("[name='ReceiverTel2']") && input.val() != "") {
                                            let mobileReg = /09\d{8}/;
                                            let phoneReg = /0\d{8,9}#?\d*/;

                                            return input.val().match(mobileReg) || input.val().match(phoneReg);
                                        }

                                        return true;
                                    }
                                }, colSpan: 3
                            },
                            {
                                field: "ReceiverCity", editor: "DropDownList", label: "收件縣市:", validation: { required: true },
                                editorOptions: {
                                    placeholder: "===請選擇===",
                                    dataTextField: "city",
                                    dataValueField: "id",
                                    change: function (e) {
                                        var area = cityArea._pristineData.find(obj => {
                                            return obj.city === $("#ReceiverCity").data("kendoDropDownList")._cascadedValue;
                                        });
                                        var ds = new kendo.data.DataSource({ data: area.areaEntities });
                                        var districtDDL = $("#ReceiverArea").data("kendoDropDownList");

                                        districtDDL.setDataSource(ds);
                                        $("#ReceiverArea").data("kendoDropDownList").select(findAreaIdInAreaIndex($("#form").getKendoForm().options.formData.ReceiverCityAreaId));
                                        $("#ReceiverArea").data("kendoDropDownList").options.change();
                                    },
                                    dataBound: function () {
                                        cityArea = this.dataSource;
                                        $("#ReceiverCity").data("kendoDropDownList").select(findAreaIdInCityIndex($("#form").getKendoForm().options.formData.ReceiverCityAreaId));
                                        $("#ReceiverCity").data("kendoDropDownList").options.change();
                                    },
                                    dataSource: {
                                        transport: {
                                            read: {
                                                url: "GetCityArea",
                                                type: "json"
                                            }
                                        }
                                    }
                                }
                            },
                            {
                                field: "ReceiverArea", editor: "DropDownList", label: "收件鄉鎮區:", validation: { required: true },
                                editorOptions: {
                                    placeholder: "===請選擇===",
                                    dataTextField: "area",
                                    dataValueField: "id",
                                    change: function (e) {
                                        if(e)
                                            $("#form").getKendoForm().options.formData.ReceiverCityAreaId = $("#form").getKendoForm()._model.ReceiverArea.id;
                                    }
                                }
                            },
                            { field: "ReceiverAddress", label: "收件地址:", validation: { required: true }, colSpan: 3 },
                            { field: "CollectionAmount", label: "代收金額:", validation: { required: true }, colSpan: 3, attributes: { min: 0, step:1 } }
                        ]
                    },
                    {
                    type: "group",
                    label: "寄件人資訊：  ",
                    layout: "grid",
                    grid: { cols: 3, gutter: 8 },
                    items: [
                        { field: "SenderName", label: "寄件人姓名:", validation: { required: true }, colSpan: 3 },
                        {
                            field: "SenderCity", editor: "DropDownList", label: "寄件縣市:", validation: { required: true },
                            colSpan: 1,
                            editorOptions: {
                                placeholder: "===請選擇===",
                                dataTextField: "city",
                                dataValueField: "city",
                                change: function (e) {
                                    var area = cityArea._pristineData.find(obj => {
                                        return obj.city === $("#SenderCity").data("kendoDropDownList")._cascadedValue;
                                    });
                                    var ds = new kendo.data.DataSource({ data: area.areaEntities });
                                    var districtDDL = $("#SenderArea").data("kendoDropDownList");
                                    districtDDL.setDataSource(ds);

                                    $("#SenderArea").data("kendoDropDownList").select(findAreaIdInAreaIndex($("#form").getKendoForm().options.formData.SenderCityAreaId));
                                    $("#SenderArea").data("kendoDropDownList").options.change();
                                },
                                dataBound: function () {
                                    cityArea = this.dataSource;
                                    $("#SenderCity").data("kendoDropDownList").select(findAreaIdInCityIndex($("#form").getKendoForm().options.formData.SenderCityAreaId));
                                    $("#SenderCity").data("kendoDropDownList").options.change();
                                },
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: "GetCityArea",
                                            type: "json"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            field: "SenderArea", editor: "DropDownList", label: "寄件鄉鎮區:", validation: { required: true },
                            colSpan: 1,
                            editorOptions: {
                                placeholder: "===請選擇===",
                                dataTextField: "area",
                                dataValueField: "id",
                                change: function (e) {
                                    if (e)
                                        $("#form").getKendoForm().options.formData.SenderCityAreaId = $("#form").getKendoForm()._model.SenderArea.id;
                                }
                            }
                        },
                        { field: "SenderAddress", label: "寄件地址:", validation: { required: true }, colSpan: 3 }
                    ]
                }
                ],
                validateField: function (e) {
                    var validatable = $('#form').data("kendoValidator");
                    validationSuccess.html("");
                },
                submit: function (e) {
                    validationSuccess.html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
                    var con = confirm('確認送出?');
                    if (!con) { e.preventDefault(); } else {
                        $("#form").getKendoForm().wrapper.append($("<input type='hidden' name='ReceiverCityAreaId' value='" + $("#form").getKendoForm().options.formData.ReceiverCityAreaId + "' data-skip='true'/>")); //不存在的欄位CityAreaId也必須被送出
                        $("#form").getKendoForm().wrapper.append($("<input type='hidden' name='SenderCityAreaId' value='" + $("#form").getKendoForm().options.formData.SenderCityAreaId + "' data-skip='true'/>"));
                        $("#form").getKendoForm().wrapper.append($("<input type='hidden' name='MemberId' value='" + $("#form").getKendoForm().options.formData.MemberName + "' data-skip='true'/>"));
                        $("#form").getKendoForm().wrapper.append($("<input type='hidden' name='ProjectNo' value='" + $("#form").getKendoForm().options.formData.ProjectNo + "' data-skip='true'/>"));
                        $("#form").getKendoForm().wrapper.append($("<input type='hidden' name='DeliveryNumber' value='" + $("#form").getKendoForm().options.formData.DeliveryNumber + "' data-skip='true'/>"));
                    }
                },
                clear: function (ev) {
                    location.reload()
                },
                messages: {
                    submit: "送出",
                    clear: "重設"
                }
            });

            function findAreaIdInCityIndex(areaId) {        //從area_id找city_index
                for (var i = 0; i < cityArea._pristineData.length; i++) {
                    if (cityArea._pristineData[i].areaEntities.filter(x=>x.id === areaId).length > 0) {
                        return i;
                    }
                }
            }

            function findAreaIdInAreaIndex(areaId) {
                let cityId = findAreaIdInCityIndex(areaId);
                for (var i = 0; i < cityArea._pristineData[cityId].areaEntities.length; i++) {
                    if (cityArea._pristineData[cityId].areaEntities[i].id === areaId) {
                        return i;
                    }
                }
            }

            function findIndexByMemberId(memberId) {
                for (var i = 0; i < $("#MemberId").data("kendoDropDownList").dataSource._pristineData.length; i++) {
                    if ($("#MemberId").data("kendoDropDownList").dataSource._pristineData[i].id === memberId) {
                        return i;
                    }
                }
            }
        });
    </script>
</div>