﻿@{ ViewData["Title"] = "託運單查詢";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml"; }
@using Newtonsoft.Json;

<div class="demo-section k-content">
    <div id="validation-success"></div>

    <form id="form" action="SearchDeliveryRequests" method="post"></form>

</div>
<div id="grid" />

<div style="text-align:center">
    <a class="k-button" onclick="PrintPaper()">
        <span class="k-icon k-i-printer"></span>補印託運單
    </a>
</div>

<script>
    Date.prototype.yyyymmdd = function () {
        var mm = this.getMonth() + 1;
        var dd = this.getDate();

        return [this.getFullYear(),
        (mm > 9 ? '' : '0') + mm,
        (dd > 9 ? '' : '0') + dd
        ].join('');
    };

    var date = new Date();
    date.yyyymmdd();

    var viewModel = [];

    var cityAreas = new kendo.data.DataSource({
        transport: {
            read: {
                url: "GetCityArea",
                dataType: "json",
                complete: function() {
                    GetGrid();
                }
            }
        }
    })

    function PrintPaper() {
        console.log('print', viewModel.selected)
        $.ajax({
            url: "PrintPaper",
            type: "POST",
            data: { ids: viewModel.selected.map(i=>i) }
        })
    }

    function cityAreaAddress(cityAreaId, address) {
        for (var i = 0; i < cityAreas._pristineData.length; i++) {
            for (var j = 0; j < cityAreas._pristineData[i].areaEntities.length; j++) {
                if (cityAreas._pristineData[i].areaEntities[j].id == cityAreaId) {
                    return cityAreas._pristineData[i].city + cityAreas._pristineData[i].areaEntities[j].area + address
                }
            }
        }
    }

    function findAreaIdInCityIndex(areaId) {        //從area_id找city_index
        for (var i = 0; i < cityAreas._pristineData.length; i++) {
            if (cityAreas._pristineData[i].areaEntities.filter(x => x.id === areaId).length > 0) {
                return i;
            }
        }
    }

    function findAreaIdInAreaIndex(areaId) {
        let cityId = findAreaIdInCityIndex(areaId);
        for (var i = 0; i < cityAreas._pristineData[cityId].areaEntities.length; i++) {
            if (cityAreas._pristineData[cityId].areaEntities[i].id === areaId) {
                return i;
            }
        }
    }

    function GetGrid() {
            let s = "@Html.Raw(Model)"
            arr = JSON.parse(s)

            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: function (options) {
                            options.success(arr);

                            //上式會造成form中的預設值丟失，在此補上
                            $("#CreateDateStart").data("kendoDatePicker").value(defaultFormValue._pristineData.CreateDateStart);
                            $("#CreateDateEnd").data("kendoDatePicker").value(defaultFormValue._pristineData.CreateDateEnd)
                            $("#DeliveryDateStart").data("kendoDatePicker").value(defaultFormValue._pristineData.DeliveryDateStart)
                            $("#DeliveryDateEnd").data("kendoDatePicker").value(defaultFormValue._pristineData.DeliveryDateEnd)
                        },
                        update: function (e) {
                            $.ajax({
                                type: 'POST',
                                url: 'UpdateDeliveryRequest',
                                data: {
                                    item: e.data
                                },
                                success: function (result) {
                                    let obj = JSON.parse(result);
                                    e.success(obj);
                                },
                                error: function () {
                                    alert('更新失敗');
                                }
                            });
                        },
                        destroy: function (e) {
                            $.ajax({
                                type: 'POST',
                                url: 'DeleteDeliveryRequest',
                                data: {
                                    item: e.data
                                },
                                success: function (result) {
                                    let obj = JSON.parse(result);
                                    e.success(obj);
                                },
                                error: function (result) {
                                    alert('停用失敗');
                                }
                            });
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read") {
                                return { model: kendo.stringify(options) }
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                IsAllowEdit: { editable: false },
                                DeliveryNumber: { editable: false },
                                OrderNumber: { editable: false },
                                ProjectNo: { editable: false },
                                ReceiverFullAddress: { editable: false },
                                Status: { editable: false }
                            }
                        }
                    }
                },
                dataBound: function (e) {
                    if (viewModel.length === 0) {
                        viewModel = kendo.observable({
                            selected: [],
                            onRoad: []
                        });
                    }
                    kendo.bind($("input"), viewModel);
                    $("#grid").data("kendoGrid").dataSource.data().forEach(function (item, index, array) { if (item.IsAllowEdit && viewModel.onRoad.every(i=>i !== index)) { viewModel.onRoad.push(index) } })

                    e.sender.tbody.find(".k-grid-edit").each(function (idx, element) {
                        isExist = false;
                        viewModel.onRoad.forEach(function (item, index) {
                            if (item == idx) {
                                isExist = true;
                            }
                        })
                        if (!isExist) {
                            $(element).remove();
                        }
                    });

                    e.sender.tbody.find(".k-grid-delete").each(function (idx, element) {
                        isExist = false;
                        viewModel.onRoad.forEach(function (item, index) {
                            if (item == idx) {
                                isExist = true;
                            }
                        })
                        if (!isExist) {
                            $(element).remove();
                        }
                    });
                },
                pageable: {
                    pageSize: 20
                },
                height: 350,
                editable: { mode: "inline", confirmation:false},
                columns: [
                    { title: " ", template: "#if(IsAllowEdit){#<input type='checkbox' value=#:Id# data-bind='checked: selected' class='k-checkbox'/>#}else{# <div/>#}#" },
                    { field: "DeliveryNumber", title: "託運單號" },
                    { field: "OrderNumber", title: "訂單編號" },
                    { field: "ProjectNo", title: "專案編號" },
                    { field: "ReceiverName", title: "收件人" },
                    {
                        field: "ReceiverCityAreaId", title: "收件地址", template: "#= cityAreaAddress(ReceiverCityAreaId, ReceiverAddress) #",
                        editor: function (container, options) {
                            var cities = $('<input id="city" name="ReceiverCityIndex">')
                            cities.appendTo(container);

                            var areas = $('<input id="area" name="ReceiverCityAreaId">')
                            areas.appendTo(container);

                            var address = $('<input id="address" name="ReceiverAddress">')
                            address.appendTo(container);

                            cities.kendoDropDownList({
                                dataTextField: "city",
                                dataValueField: "city_index",
                                dataSource: cityAreas,
                                change: function (e) {
                                    var area = cityAreas._pristineData.find(obj => {
                                        return obj.city_index === $("#city").data("kendoDropDownList").selectedIndex;
                                    });
                                    var ds = new kendo.data.DataSource({ data: area.areaEntities });
                                    var districtDDL = $("#area").data("kendoDropDownList");

                                    districtDDL.setDataSource(ds);
                                    $("#area").data("kendoDropDownList").select(0);
                                }
                            }).appendTo(container);

                            areas.kendoDropDownList({
                                dataTextField: "area",
                                dataValueField: "id"
                            }).appendTo(container);

                            $("#city").data("kendoDropDownList").select(options.model.ReceiverCityIndex);
                            $("#city").data("kendoDropDownList").options.change();
                        }
                    },
                    { field: "CollectionAmount", title: "代收款" },
                    { field: "Status", title: "託運狀態" },
                    { title: "動作", command: [{ text: "編輯", name: "edit", className: "k-grid-edit" }, {text:"停用", className: "k-grid-delete" }] }
                ],
                persistSelection: true
            })
    }

    var defaultFormValue = new kendo.data.DataSource({
        transport: {
            read: {
                url: "GetDefaultForSearchFilter",
                dataType: "json",
                complete: function (result) {
                    console.log(result)
                    GetForm(result.responseJSON);
                }
            }
        },
        schema: {
            data: (response) => {
                // Augment returned data with a slice() method used internally by Kendo DataSource 
                // in the absence of "schema.model" to obtain a pristine copy of the object.
                response.slice = () => JSON.parse(JSON.stringify(response));
                return response;
            }
        }
    })

    function GetForm(defaultObj) {
        $("#form").kendoForm({
            formData: defaultObj,
            orientation: "vertical",
            items: [
                {
                    type: "group",
                    label: "查詢條件：",
                    layout: "grid",
                    grid: { cols: 4, gutter: 8 },
                    items: [
                        { field: "DeliveryNumber", label: "託運單號:", colSpan: 4 },
                        { field: "OrderNumber", label: "訂單編號:", colSpan: 4 },
                        { field: "ProjectNo", label: "專案編號:", colSpan: 4 },
                        { field: "CreateDateStart", label: "託運日期:", colSpan: 2 },
                        { field: "CreateDateEnd", label: "　", colSpan: 2 },
                        { field: "DeliveryDateStart", label: "配達日期:", colSpan: 2 },
                        { field: "DeliveryDateEnd", label: "　", colSpan: 2 },
                        { field: "ReceiverName", label: "收件人姓名:", colSpan: 4 }
                    ]
                }
            ],
            submit: function (e) {
            },
            clear: function (ev) {
                location.reload()
            },
            messages: {
                submit: "送出",
                clear: "重設"
            }
        });
    }

    $(document).ready(function () {
        defaultFormValue.read();

        let arr = [];
        @if (Model != null)
        {
            @:cityAreas.read();
        }
    });

</script>
<style>
    .k-grid-edit {
    }

    .k-grid-delete {
        color: red;
    }
</style>