﻿@{
    ViewData["Title"] = "物流商管理";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}

    <div>
        <h1>物流商管理</h1>
        <div class="demo-section k-content" style="display:none;" id="form">
            <form method="post" enctype="multipart/form-data" asp-controller="Logistics" asp-action="Insert">

                    <input type="file" accept=".jpg,.png" name="file"  />
                    <p>
                        <input type="hidden" id="Id" name="Id" />
                    </p>
                    <p>
                        <label>物流商:<input type="text" id="Company" name="Company" /></label>
                    </p>
                    <p>
                        <label>物流商代碼:<input type="text" id="CompanyCode" name="CompanyCode" /></label>
                    </p>
                    <p>
                        <label>狀態:</label>
                        <input id="Active_true" name="Active" value=1 type="radio" checked="" />啟用
                        <input id="Active_false" name="Active" value=0 type="radio" checked="" />停用
                    </p>
                    <button id="submit" class="btn btn-warning"><i class="fa fa-upload"></i>儲存</button>
            </form>
        </div>
        <div id="grid"></div>
    </div>

<script>

    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "GetLogistics",
                dataType: "json"
            },
            parameterMap: function (options, operation) {
                if (operation !== "read" && options.models) {
                    return { json: kendo.stringify(options.models) };
                }
            },
        },
        batch: true,
        pageSize: 30,
        schema: {
            model: {
                id: "Id",
                fields: {
                    Id: { editable: false, nullable: false, defaultValue: 0 },
                    Company: { validation: { required: true } },
                    CompanyCode: { validation: { required: true } },
                    Logo: { validation: { required: true } },
                    Active: { type: "number" },
                }
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        sortable: true,
        filterable: true,
        pageable: true,
        height: 550,
        toolbar: [{ template: '<button id="export" class="k-button" onclick="file()">新增物流商</button> <button style="display:none;" id="cancel" class="k-button" onclick="fileClose()">取消</button>' }],
        columns: [
            { hidden: true, field: "Id", title: "序號", width: "100px" },
            { field: "Company", title: "物流商" },
            { field: "CompanyCode", title: "物流商代碼" },
            {
                field: "Logo", title: "Logo", template: "<div class='customer-photo'" +
                    "style='background-image: url(\"#: Logo #\");'></div>"
            },
            { field: "Active", title: "狀態", template: "<label>#:Active == 1 ? '啟用':'停用'#</label>" },
            { command: [{ text: "編輯", click: customEdit }, { text: "取消", click: fileClose }], title: "&nbsp;" }
        ],
    });

    function file() {
        $("#form").show();
        $("#cancel").show();
    }

    function fileClose() {
        $("#form").hide();
    }

    function customEdit(e) {
         e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#form").show();
        $("#Id").val(dataItem.Id);
        $("#Company").val(dataItem.Company);
        $("#CompanyCode").val(dataItem.CompanyCode);

        if (dataItem.Active == 1) {
            $("#Active_true").prop('checked', true);
        } else {
            $("#Active_false").prop('checked', true);
        }
    }

</script>

<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: 42px 45px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }
</style>
